* {
  font-family: sans-serif;
  /* font-size: 13px; */
}

body {
  padding: 1em;
}

h3 {
  text-align: center;
}

ul {
  /* list-style-type: none; */
}

label {
  margin-left: 1em;
}

/* --------------------------------------------------------------------------- */
/* --------------------------       MAIN        ------------------------------ */
/* --------------------------------------------------------------------------- */


.main {
  display: grid;
  /* grid-template-columns: minmax(350px,1fr) minmax(500px,3fr) minmax(350px,1fr); */
  grid-template-columns: minmax(320px,1.1fr) minmax(550px,2fr) minmax(400px,1.23fr);
  grid-template-rows: 2em auto;
  grid-gap: 1em;
  height: 95vh;
}


/* --------------------------------------------------------------------------- */
/* --------------------------      FILTERS      ------------------------------ */
/* --------------------------------------------------------------------------- */


.filters-div {
  overflow: auto;
}

.filter-div {
  padding-left: 1em
}

.filter-title {
  font-weight: bold;
  font-size: 18;
  color:black;
  content: '\25B6';
  text-decoration: none;
}

.inactive::before {
  content: '\25B6';
  padding-right: 1em;
}

.active::before {
  content: '\25BC';
  padding-right: 1em;
}

.filter-title:hover {
  color: black;
  text-decoration: none;
  font-weight: 300;
}

.filter-list {
  list-style-type: none;
  padding: 0;
  margin-left: 0.2em;
}

.buttons-div {

  margin-left: 3em;
  margin-bottom: 1em;
}

#apply {
  border-radius: 8px;
  background-color: white;
  color: #35db61 ;
  border-width: 2.5px;
  border-color: 13692b;
  padding: .5em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  transition-duration: 0.2s;
  outline: none;
}

#apply:hover {
  background-color: #13692b;
  color: white;
}

#apply:active {
  background-color: #35db61;
  transform: translateY(4px);
}

#reset {
  border-radius: 8px;
  background-color: white;
  /* #db3535; */
  color: #db3535;
  border-color: #691313;
  border-width: 2.5px;
  padding: .5em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  transition-duration: .2s;
  outline: none;
}

#reset:hover {
  background-color: #691313;
  color:white;
}

#reset:active {
  background-color: #db3535;
  transform: translateY(4px);
}

/* --------------------------------------------------- */
/* ---------      SWITCH TOGGLE      ------------- */
/* --------------------------------------------------- */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switchdesc {
  font-size: 18;
  position: relative;
  margin-left: 4em;
}

/* --------------------------------------------------------------------------- */
/* --------------------------      COURSES      ------------------------------ */
/* --------------------------------------------------------------------------- */

.courses-div {
  overflow:auto;
}

.container {
  margin: 0 5% 0 5%;
}

.course {
  font-weight: bold;
  margin-top: 1%;
  padding: 1% 0 1% 0;
  /* height: 12vh; */
  display: grid;
  grid-template-columns: 1fr 5fr 2fr;
  background-color: dbdbdb;
  align-items: center;
}

.code {
  text-align: center;
  vertical-align: center;
  margin-left: 1em;
  margin-right: 1em;
  padding: 1em;
  color: black;
}

.code:hover {
  background-color: white;
  cursor: grab;
}

.code:active {
  cursor: grabbing;
  border: solid;

}

.prof {
  color: black;
}

.showdesc {
  color: black;
  font-weight: bold;
  text-align: center;
}

.showdesc:hover {
  color: black;
  font-weight: bold;
    text-align: center;
}


/* --------------------------------------------------- */
/* ---------      FRONT DESCRIPTION      ------------- */
/* --------------------------------------------------- */

.description{
  background-color: #f2f2f2;
  margin: 0 2% 0 2%;
  padding: 1em;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr minmax(40%,auto) repeat(4,minmax(10%,auto)) 1fr;
}

.desctitle {
  text-align: center;
  font-weight: bold;
}

.desctitles {
  padding-right: 1em;
  text-align: right;
  font-weight: bold;
}

.desclink {
  text-align: center;
}

/* --------------------------------------------------- */
/* ----------      BACK DESCRIPTION      ------------- */
/* --------------------------------------------------- */

.full-description {
  background-color: #f2f2f2;
  margin: 0 2% 0 2%;
  padding: 1em;

  display: grid;
  grid-gap: 1em;
}

.fulldesc-title {
  font-weight: bold;
}


/* --------------------------------------------------------------------------- */
/* --------------------------      SCHEDULE      ----------------------------- */
/* --------------------------------------------------------------------------- */


.semesters-div {
  display: grid;
  overflow: auto;
}

.sem-box {
  margin: 0.5em 1em 1em 1em;
  padding: 0.5em 1em 1em 1em;
  text-align: center;

  justify-content: center;
  align-items: center;

  font-weight: bold;
  background-color: #dbdbdb;
  width: 90%;
  height: 22%;
  /* box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24); */
}

.buttons-selection-div{
  margin: 0 1em 0 1em;
  padding: 0 1em 0 1em;
  text-align: center;

  font-weight: bold;
  color: #c9c9c9;
  width: 90%;
  height: 10%;
}



.viewsel {
  border-radius: 8px;
  background-color: white;
  color: #35db61 ;
  border-width: 2.5px;
  border-color: 13692b;
  padding: .5em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  transition-duration: 0.2s;
  outline: none;
}

.viewsel:hover {
  background-color: #13692b;
  color: white;
}

.viewsel:active {
  background-color: #35db61;
  transform: translateY(4px);
}


.resetsel {
  border-radius: 8px;
  background-color: white;
  /* #db3535; */
  color: #db3535;
  border-color: #691313;
  border-width: 2.5px;
  padding: .5em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  transition-duration: .2s;
  outline: none;
}

.resetsel:hover {
  background-color: #691313;
  color:white;
}

.resetsel:active {
  background-color: #db3535;
  transform: translateY(4px);
}




.diocane {
  font-weight: normal;
  text-align: left;
}



.slots-div {
  margin-top: 0.5em;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: 9vh 1fr;
  grid-gap: 1em;
}


.slot {
  padding-top: 0.25em;
  background-color: white;
  color: #dbdbdb;
  font-weight:bold;
  font-size: 10px;
  /* flex-direction: column; */
  /* box-shadow: 0 6px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24); */

}

.slot-content {
  font-weight: normal;
  color: black;
}

.filled {
  font-size: 26px;
  font-weight: bold;
}

.filled:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(150, 0, 0, 0.9), 0 1px 4px rgba(0, 0, 0, 0.24);
  border: solid;
  border-color: red;
}

.over {
  /* background-color: gray;
  color:white; */
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

}


.category {
  text-align: center;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.12);
}


.savesel {
  border-radius: 8px;
  background-color: white;
  color: gray ;
  border-width: 2.5px;
  border-color: black;
  padding: .5em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  transition-duration: 0.2s;
  outline: none;
}

.savesel:hover {
  background-color: black;
  color: white;
}

.savesel:active {
  background-color: #bfbfbf;
  transform: translateY(4px);
}


.loadsel {
  border-radius: 8px;
  background-color: white;
  /* #db3535; */
  color: #353ddb;
  border-color: #131469;
  border-width: 2.5px;
  padding: .5em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  transition-duration: .2s;
  outline: none;
}

.loadsel:hover {
  background-color: #131469;
  color:white;
}

.loadsel:active {
  background-color: #353ddb;
  transform: translateY(4px);
}

.loadsave-selection-div {
  margin: 0 1em 0 1em;
  padding: 0 1em 0 1em;
  text-align: center;

  font-weight: bold;
  color: #c9c9c9;
  width: 90%;
  height: 10%;
}
